# Environment
*.env*
!.env.template
venv/

# Logs
*log

# Python cache
__pycache__/

# IDEA
.idea/
.vscode/

# Mkdocs
site/

# Fastembed files
data/fastembed/.locks
data/fastembed/models--qdrant--multilingual-e5-large-onnx

# Google Credentials
*.json

# Classifier files
data/model_*

# SSL Certs
*.pem
