# Environment
.env
venv/

# Logs
*log

# Python cache
__pycache__/

# IDEA
.idea/
.vscode/

# Mkdocs
site/

data/fastembed/.locks
data/fastembed/models--qdrant--multilingual-e5-large-onnx

data/datastep-excel-for-classifier-66a610dc9ff6.json
